* {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  transition: 300ms;
}

img:hover {
  opacity: .9;
  box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 4px #33b5e5;
}

a:link, a:visited {
  color: #fff;
}

.topnav {
  background-color: #93C;
  color: #FFF;
}

.topnav a,
.topnav .space {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover,
.topnav .space:hover {
  background-color: #b754e8;
}

.topnav .icon {
  display: none;
}

/* Clearfix */
.row::after,
.topnav::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

.topnav a:not(:first-child) {
  display: none;
}

.topnav a.icon {
  float: right;
  display: block;
}

/* icon placement begins */
@media only screen and (max-width: 991px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* icon placement ends */




.menu {
  padding-bottom: 0px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#apt ul,
#building ul,
#neighborhood ul {
  padding-left: 15px;
}

#apt,
#building,
#neighborhood {
  background-color: #FFF;
  border: 1 solid #000;
  border-radius: 1px;
  padding-top: 0;
}


.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #fff;
  box-shadow: 2px 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5);
  cursor: pointer;
}

.menu li:hover {
    background-color: #0099cc;
}

.border-style {
  border: 1px solid black;
}

.foot {
  position: relative;
  bottom: 0;
  background-color: #9933cc;
  display: block;
  width: 100%;
  color: #fff;
  padding: 1rem;
}

/* media query begins */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

  .topnav a:not(:first-child) {display: block;}

  .topnav a.icon {
    float: right;
    display: none;
  }

  #apt,
  #building,
  #neighborhood {
    padding-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .topnav a:not(:first-child) {display: block;}

  .topnav a.icon {
    float: right;
    display: none;
  }

  #apt,
  #building,
  #neighborhood {
    padding-top: 8px;
  }
}
